<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New</title>
    <style>
        input{ margin:10px}
    </style>
</head>
<body>
    <h2>Add New User</h2>
    <form method="POST" action="/api/user/add">
        <input type="text" name="username" placeholder="Username" required="" />    <br/>
        <input type="text" name="password" placeholder="NewPassword" required="" />  <br/>
    <input type="submit" value="Add New" />  
    </form>
</body>
</html>