<!DOCTYPE html>
<html lang="en">
<body>
    <h2>Delete User</h2>
    <form method="POST" action="/api/user/delete" >
        <input type="text" value="<%= id %>" name="UserId"/>    <br/>
        <input type="submit" value="Delete" />
    </form>
</body>
</html>