<!DOCTYPE html>
<html lang="en">
<head>
<style>
table {
  width:50%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}
</style>
<script>
  console.log("hello");
  function show(num){     
    console.log(num);
  }
</script>
</head>
<body>

<h2>List User</h2>
<a href="/add">Add New</a>
<table>
  <tr>
    <th>User Name</th>
    <th>PassWord</th>
    <th> </th>
  </tr>
  <% for (var i=0;i < username.length;i++ ){ %>
  <tr>
    <td><%= username[i].username%></td>
    <td><%= username[i].password%></td>
    <td>
    <a href="/edit/<%= username[i]._id %>">Edit</a>
    <a href="/delete/<%= username[i]._id %>">Delete</a>
    </td>
  </tr>
  <% } %>
</table>
<br>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi</title>
</head>
<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/changepassword">Changepassword</a>
        </li>
    </ul>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>